@{
    ViewBag.Title = "Index";
}

<style>
    .carousel-caption-color
    {
        color: #777;
    }
</style>

<div class="container">
    <!-- Carousel -->
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" data-interval="60000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <img src="..\..\img\HomeCarousel003.jpg" style="height: 315px; width: 1200px; display: block;">
                <div class="carousel-caption carousel-caption-color">
                    <h2>Do you understand your customers?</h2>
                </div>
            </div>
            <div class="item">
                <img src="..\..\img\HomeCarousel002.jpg" style="height: 315px; width: 1200px; display: block;">
                <div class="carousel-caption carousel-caption-color">
                    <h2>Reduce the IT infra cost using MS Azure cloud.</h2>
                </div>
            </div>
            <div class="item">
                <img src="..\..\img\HomeCarousel001.jpg" style="height: 315px; width: 1200px; display: block;">
                <div class="carousel-caption carousel-caption-color">
                    <h2>99.9% available time!</h2>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>
    <!-- Carousel -->

    <br />
    <div class="text-center">
        <h1><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>&nbsp Introducing the Customer Success Platform.</h1>
    </div>

    <!-- Details -->
    <div class="jumbotron">
        <h2>The all-in-one #1 CRM Solution.</h2>
        <div class="panel panel-default">
            <div class="panel-body">
                <p><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>&nbsp Find more high-quality leads, more quickly, and grow your pipeline.</p>
                <p><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>&nbsp Automate all of your sales processes so you can spend more time selling.</p>
                <p><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span>&nbsp Always-on customer service to connect your customers with the help they need, anytime, anywhere.</p>
            </div>
        </div>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    </div>
</div>